@charset "UTF-8";
/* Importation des police */
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Source+Sans+Pro");
/* Mixin */
/*   HEADER   */
header {
  -webkit-box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
          box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  background: #ffffff;
  position: fixed;
  width: 100vw;
  z-index: 1000;
  font-family: 'Source Sans Pro', sans-serif;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  /* logo */
  /* nav */
}

header .wrapper img {
  width: 60px;
  margin: 15px 15px 15px 0;
}

header .wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .wrapper nav ul li {
  list-style: none;
  margin-left: 25px;
}

header .wrapper nav ul a {
  text-decoration: none;
  color: #656565;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

header .wrapper nav ul a:hover {
  text-decoration: underline;
  color: #000000;
}

/*   MAIN   */
main {
  width: 90%;
  margin: auto;
  padding-top: 150px;
}

main article {
  width: 60%;
  margin: 0 auto 100px auto;
  padding: 30px;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

main article h1 {
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 8px;
  font-size: 1.5rem;
}

main article h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 20px;
  color: #058CF2;
}

main article p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
  color: #858585;
}

main article .modif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

main article .modif a {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 20px;
  color: #a7a7a7;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

main article .modif a:hover {
  text-decoration: underline;
  color: #000000;
}

main article .motCle {
  border-top: 1px solid #dddddd;
  height: 100%;
  padding: 10px 0;
  margin-top: 30px;
}

main article .motCle a {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  color: #a7a7a7;
  padding-right: 10px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

main article .motCle a:hover {
  text-decoration: underline;
  color: #058CF2;
}

p.erreur {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  color: #e62d04;
  padding: 10px;
  border: 1px solid #e62d046d;
  border-radius: 3px;
  margin-bottom: 25px;
}

/*   FORMS   */
.login, .ajout, .modif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login form, .ajout form, .modif form {
  padding: 100px;
  width: 500px;
}

.login form .input-group, .ajout form .input-group, .modif form .input-group {
  margin-bottom: 35px;
  position: relative;
}

.login form .input-group input[type=text], .login form .input-group input[type=password], .ajout form .input-group input[type=text], .ajout form .input-group input[type=password], .modif form .input-group input[type=text], .modif form .input-group input[type=password] {
  display: block;
  width: 100%;
  height: 30px;
  border: 0;
  border-bottom: 1px solid #dddddd;
  padding: 1.6rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  outline: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  color: #010101;
}

.login form .input-group input[type=text]:focus, .login form .input-group input[type=password]:focus, .ajout form .input-group input[type=text]:focus, .ajout form .input-group input[type=password]:focus, .modif form .input-group input[type=text]:focus, .modif form .input-group input[type=password]:focus {
  border-bottom: 1px solid #058CF2;
}

.login form .input-group textarea, .ajout form .input-group textarea, .modif form .input-group textarea {
  width: 100%;
  height: 300px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  border: 0;
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  overflow: auto;
}

.login form .input-group textarea:focus, .ajout form .input-group textarea:focus, .modif form .input-group textarea:focus {
  border: 1px solid #058CF2;
}

.login form .input-group div, .ajout form .input-group div, .modif form .input-group div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login form .input-group div .btn, .ajout form .input-group div .btn, .modif form .input-group div .btn {
  display: block;
  width: 200px;
  padding: 15px 0;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 35px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.8rem;
  -webkit-box-shadow: 0 5px 17px -2px rgba(108, 108, 108, 0.2);
          box-shadow: 0 5px 17px -2px rgba(108, 108, 108, 0.2);
  -webkit-transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  background: #058CF2;
}

.login form .input-group div .btn:hover, .ajout form .input-group div .btn:hover, .modif form .input-group div .btn:hover {
  -webkit-box-shadow: 0 5px 17px -2px rgba(108, 108, 108, 0.5);
          box-shadow: 0 5px 17px -2px rgba(108, 108, 108, 0.5);
  background-color: #047de6;
}

.ajout form {
  padding: 40px;
  width: 50%;
}

.modif form {
  width: 100%;
  padding: 0;
}

.modif form .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modif form .wrapper .modifInput {
  width: 50%;
}

/*   TITRE DES PAGES & PAGE MOT-CLÉS   */
.titrePage {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.titrePage h1 {
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.titrePage a {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.8rem;
  margin-bottom: 20px;
  color: #858585;
  padding-right: 10px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.titrePage a:hover {
  text-decoration: underline;
  color: #000000;
}

.titrePage a:nth-of-type(-n+10) {
  font-size: 1rem;
  font-weight: bold;
}

.titrePage .actif {
  text-decoration: underline;
  color: #000000;
}

.titrePage .btnSupprimer {
  display: block;
  width: 200px;
  padding: 15px 0;
  cursor: pointer;
  outline: none;
  border: 1px solid #dddddd;
  border-radius: 35px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.8rem;
  color: #858585;
  -webkit-transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.titrePage .btnSupprimer:hover {
  color: #e62d04;
  border: 1px solid #e62d04;
}

.supprimer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */